[user]
	name = Matthew Chartier
	email = mchartier@outlook.com
[core]
	editor = code --wait

[alias]
	lg = log --oneline --decorate -20
[alias]
	recent = for-each-ref --sort=-committerdate refs/heads/ --format='%(refname:short) (%(color:green)%(committerdate:relative)%(color:reset)) %(committerdate:short)'

[remote "origin"]
	prune = true

# Configure Visual Studio Code as the default difftool
[diff]
	tool = vscode
[difftool]
	prompt = false
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"